{% extends "tienda/layout.html" %}
{% block content %}
 <!-- Page Content -->
 <!-- Page Content -->
 <div class="container">

  <div class="row">

    <div class="col-lg-3">
      <a href="{% url 'tienda:index' %}">
        <h1 class="my-4">Takya</h1>
      </a>
      <div class="list-group">
        {% for cat in category_list %}
        <a href="{% url 'tienda:categoria' cat.id %}"><h2 class="text-muted">{{ cat.nombre }}</h2></a>
        {% endfor %}
      </div>
    </div>
    <!-- /.col-lg-3 -->

{% if categoria.id == categoria.id %}
  
    <div class="row">
      {% for producto in categoria.producto_set.all%}
      <div class="col-12">
        <h1>{{ producto.nombre}}</h1>
      </div>
      {% endfor %}
    </div>
  
{% endif %} 

<h1>{{ productos.nombre}}</h1>

{% endblock %}