{% extends "tienda/layout.html" %}
{% block content %}
 <!-- Page Content -->
 <!-- Page Content -->
 <div class="container">
  <div class="row">

    <div class="col-lg-3">
      <a href="{% url 'tienda:index' %}">
        <h1 class="my-4">Takya</h1>
      </a>
      <div class="list-group">
        {% for cat in category_list %}
        <a href="{% url 'tienda:categoria' cat.id %}"><h2 class="text-muted">{{ cat.nombre }}</h2></a>
        {% endfor %}
      </div>
    </div>
    <!-- /.col-lg-3 -->

{% if categoria %}
  
    <div class="row">
    {% for producto in categoria.producto_set.all%}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="{% url 'tienda:producto' producto.id %}">
          <img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'tienda:producto' producto.id %}">{{ producto.nombre }}</a>
          </h4>
          <h5>{{ producto.precio }}</h5>
          <p class="card-text">Categoría: {{ producto.categoria.nombre }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    {%  endfor %}
    </div>
    {% endif %} 
{% if productos %}
<div class="row">
  <div class="col-auto">
    <div class="card h-100">
      <a href="{% url 'tienda:producto' productos.id %}">
        <img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'tienda:producto' productos.id %}">{{ productos.nombre }}</a>
        </h4>
        <h5>{{ productos.precio }}</h5>
        <p class="card-text">Categoría: {{ productos.categoria.nombre }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
</div>
{% endif %} 

{% endblock %}